In [1]:
# importamos librerías necesarias para nuestra manipulación de datos.
import pandas as pd
import numpy as np

In [106]:

# importamos el archivo csv amazon_prime_titles.csv.
# preferimos convertirlo a texto en minusculas para obtimizar tiempo.

amazon=pd.read_csv('amazon_prime_titles.csv')
disney=pd.read_csv('disney_plus_titles.csv')
hulu=pd.read_csv('hulu_titles.csv')
netflix=pd.read_csv('netflix_titles.csv')

In [107]:
#Generar campo id con la primer letra del nombre de la plataforma seguido del campo show_id
amazon. insert (loc = 0 , column = 'id', value= "a"+ amazon['show_id'])
disney. insert (loc = 0 , column = 'id', value= "d"+ disney['show_id'])
hulu. insert (loc = 0 , column = 'id', value= "h"+ hulu['show_id'])
netflix. insert (loc = 0 , column = 'id', value= "n"+ netflix['show_id'])

In [108]:
#Genero columna con el nombre de cada plataforma
amazon['platform'] = 'amazon'
disney['platform'] = 'disney'
hulu['platform'] = 'hulu'
netflix['platform'] = 'netflix'

In [109]:
#2- Reemplazar valores nulos en el campo rating por "G"
amazon['rating'].fillna('G', inplace=True)
disney['rating'].fillna('G', inplace=True)
hulu['rating'].fillna('G', inplace=True)
netflix['rating'].fillna('G', inplace=True)

In [110]:
# 3-Convertir las fechas en formato AAAA-mm-dd
amazon['date_added'] = pd.to_datetime(amazon['date_added'])
disney['date_added'] = pd.to_datetime(disney['date_added'])
hulu['date_added'] = pd.to_datetime(hulu['date_added'])
netflix['date_added'] = pd.to_datetime(netflix['date_added'])

In [111]:
# Convertimos los datos en minusculas.
amazon = amazon.applymap(lambda s: str(s).lower())
disney = disney.applymap(lambda s: str(s).lower())
hulu = hulu.applymap(lambda s: str(s).lower())
netflix= netflix.applymap(lambda s: str(s).lower())

In [112]:
# Unificar el valor season 
amazon['duration'].replace("seasons","season", inplace=True, regex=True)
disney['duration'].replace("seasons","season", inplace=True, regex=True)
hulu['duration'].replace("seasons","season", inplace=True, regex=True)
netflix['duration'].replace("seasons","season", inplace=True, regex=True)

In [113]:
# Separar la columna duration en 2 nuevas columnas duration_int y duration_type 
amazon[['duration_int','duration_type']]=amazon.duration.str.split(' ',expand=True)
disney[['duration_int','duration_type']]=disney.duration.str.split(' ',expand=True)
hulu[['duration_int','duration_type']]=hulu.duration.str.split(' ',expand=True)
netflix[['duration_int','duration_type']]=netflix.duration.str.split(' ',expand=True)

In [114]:
#Cambiar el tipo de dato para la columna duration_int
amazon['duration_int'] = amazon['duration_int'].astype('int64')
disney['duration_int'] = disney['duration_int'].astype('int64')

In [115]:
#Para cambiar el tipo de dato para la columna duration_int en hulu es necesario reemplazar los valores 'nan'
hulu['duration_int'].replace("nan","1", inplace=True, regex=True)
hulu['duration_int'] = hulu['duration_int'].astype('int64')

In [116]:
# Convertir la columna "duration" a tipo numérico
netflix['duration_int'] = pd.to_numeric(netflix['duration'], errors='coerce')
# Rellenar los valores nulos con 0
netflix['duration_int'].fillna(0, inplace=True)
# Convertir la columna a tipo int64
netflix['duration_int'] = netflix['duration_int'].astype('int64')

In [117]:
#Apilar los dataframes
plataformas_completas = pd.concat([amazon, disney,hulu,netflix], axis=0)

In [2]:
scores_score_mean=pd.read_csv('scores_score_mean.csv')

In [119]:
plataformas_completas = pd.merge(plataformas_completas, scores_score_mean, on='show_id', how='left')

In [12]:
plataformas_completas.to_csv('plataformas_completas.csv', index=False)

In [11]:
plataformas_completas

,id,show_id,type,title,director,cast,country,date_added,release_year,rating_x,duration,listed_in,description,platform,duration_int,duration_type,userId,rating_y,timestamp,score_mean
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30 00:00:00,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,113,min,nan,g,nan,nan
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30 00:00:00,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,110,min,nan,g,nan,nan
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30 00:00:00,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,amazon,74,min,nan,g,nan,nan
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30 00:00:00,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",amazon,69,min,nan,g,nan,nan
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30 00:00:00,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,amazon,45,min,nan,g,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20 00:00:00,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",netflix,0,min,nan,g,nan,nan
22994,ns8804,s8804,tv show,zombie dumb,nan,nan,nan,2019-07-01 00:00:00,2018,tv-y7,2 season,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",netflix,0,season,nan,g,nan,nan
22995,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01 00:00:00,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,netflix,0,min,nan,g,nan,nan
22996,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11 00:00:00,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",netflix,0,min,nan,g,nan,nan
22997,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02 00:00:00,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,netflix,0,min,nan,g,nan,nan